.etapas .item{
    width:40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.etapas .item1{
    background-color: #633194ff;
}
.etapas .item2{
    background-color: #633194ff;
}
.etapas{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.etapas::after{
    content: " ";
    background-color: #633194ff;
    position: absolute;
    width: 99%;
    height: 5px;
    top: 50%;
    z-index: -1;
    margin-left: 3px;
}
.cont{
    margin-left: 50px;
    margin-right: 50px;
}
.cont-dados{
    display: flex;
    margin-bottom: 45px;
}
.item img{
    width: 25px;
}
.dados-cliente{
    margin-right: 60px;
}
.total{
    font-size: 25px;
}