html{
    font-size: 20px;
}
body{
    margin: 0;
    background-color: #efd8bbff;
}
a{
    text-decoration: none;
}
a:link{
    color: #1a7f1cff;
}
a:visited{
    color: #1a7f1cff;
}
a:hover{
    color:#633194ff;
}
.cont-pratos-feitos, .cont-pratos, .cont-pratos-promocao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cont-pratos-feitos input, .cont-pratos input, .cont-pratos-promocao input{
    cursor: pointer;
}
.fundo-prato-feito{
    background-image: linear-gradient(120deg,#e8c291ff,#e8ae91ff);
    padding-top: 50px;
    padding-bottom: 100px;
}
#monte,#promocao{
    margin-top: 70px;
}
.cont-pratos .item, .cont-pratos-feitos .item, .cont-pratos-promocao .item{
    width: 300px;
    height: 350px;
    border-radius: 30px;
}
.cont-pratos-feitos input:hover{
    box-shadow: 0px 0px 5px #000000;
    background-color: #7d52a7ff;
}
.cont-pratos input:hover{
    box-shadow: 0px 0px 5px #000000;
    background-color: #7d52a7ff;
}
.cont-pratos-promocao input:hover{
    box-shadow: 0px 0px 5px #000000;
    background-color: #7d52a7ff;
}
.cont-pratos{
    margin-bottom: 100px;
}
.cont-item{
    margin-right: 40px;
}
.quant-carr{
    background-color: #1a7f1cff;
    height: 24px;
    margin-top: 8px;
    border-radius: 50%;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.carr-img img{
    width: 40px;
    margin-top: 14px;
    margin-left: 3px;
}
.pf-1,.pf-2,.pf-3{
    background-size: cover;
    background-repeat: no-repeat;
}
.pf-1{
    background-image: url("../imagens/grao.jpg");
}
.pf-2{
    background-image: url("../imagens/amarelo.jpg");
}
.pf-3{
    background-image: url("../imagens/pure.jpg");
}
.pf-3{
    background-image: url("../imagens/vermelho.jpg");
}
.nome-prato-cor{
    background-color: rgba(26, 127, 28, 0.7);
    width: 230px;
    color: #ffffff;
    padding: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 30px;
}
nav{
    margin-right: 30px;
}
.cont-carr{
    display: flex;
}
nav ul{
    list-style: none;
    cursor: pointer;
}
nav ul li{
    display: inline;
}
nav ul li:hover{
    color: #633194ff;
    font-weight: bold;
}
.cont-nav-e-carr{
    display: flex;
    background-color: #ffffff;
    justify-content: flex-end;
    font-family: "caviar";
    color: #1a7f1cff;
    padding-right: 60px;
}
.item{
    position: relative;
    box-shadow: 0px 0px 5px #000000;
}
.bt-mais{
    position: absolute;
    bottom: -15px;
    left: 42%;
}
.bt-mais input{
    background-color: #633194ff;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 50%;
    color: azure;
    font-size: 20px;
}
.legenda-item{
    text-align: center;
    margin-top: 18px;
    color: #ff0000ff;
    font-family: "caviar bold";
}
.preco{
    color: #ff0000ff;
    font-size: 0.8rem;
}
.cont-img-text{
    display: flex;
}
.cont-img-text img{
    width: 30px;
}
.cont-img-text .img-email{
    width: 25px;
}
.text-contato{
    margin-left: 5px;
    line-height: 1.4;
}
.text-contato-email{
    line-height: 0.9;
    margin-left: 5px;
}
footer{
    background-image: linear-gradient(#f69657ff,#9468c0ff);
    font-family: "caviar";
}
.traco{
    border: solid 1px #b3b3b3ff;
    height: 80px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.rede-social img{
    width: 25px;
}
.cont-contato-margem{
    margin-top: 17px;
}
.rede-social{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.cont-contato{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    padding-top: 25px;
    margin-top: 100px;
}
.rodape{
    text-align: center;
}

.bemvindo{
    font-family: "hunter";
    font-size: 3rem;
    margin-bottom: 20px;
}
.cont-msg-foto{
    background-image: url("../imagens/topo.png"); 
    font-size: 2rem;
    padding-top: 150px;
    padding-bottom: 80px;
    padding-left: 60px;
    padding-right: 60px;
}
.peca-o-seu{
    background-color: #1a7f1cff;
    display: flex;
    font-size: 1.2rem;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
}
.viver-a-culinaria{
    font-family: "impact";
    font-size: 3rem;
}
.imagem-whatsapp{
    margin-left: 8px;
    margin-top: 10px;
}
.peca-o-seu img{
    width: 70px;
}
.cont-peca-o-seu{
    margin-top: 40px;
    width: 400px
}
.adoro{
    font-family: "Caladea";
}
main{
    font-family: "caviar";
}
.font-h2{
    font-family: "caviar bold";
}
@font-face{
    font-family: "hunter";
    src: url('../fonts/hunters/Hunters.otf') format("opentype");
    
}
@font-face{
    font-family: "caviar bold";
    src: url("../fonts/caviar dreams/CaviarDreams_Bold.ttf") format('truetype');
}
@font-face{
    font-family: "caviar";
    src: url("../fonts/caviar dreams/CaviarDreams.ttf") format("truetype");
    font-weight: normal;
}
@media (min-width:320px) and (max-width:425px){
    .cont-msg-foto{
        padding: 0px;
    }
    .cont-peca-o-seu{
        width: 300px;
        margin: 0;
        margin-top: 5%;
    }
    .cont-contato{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .traco{
        width: 125px;
        height: 0px;
    }
    .cont-nav-e-carr{
        padding: 0;
    }
    .cont-pratos, .cont-pratos-feitos, .cont-pratos-promocao{
        padding-left: 10%;
    }
    .cont-msg-foto{
        padding-left: 3%;
        padding-bottom: 8%;
    }
    .cont-item{
        margin-bottom: 23%;
    }
    nav ul{
        padding: 0px;
    }
    .cont-nav-e-carr{
        padding-left: 5%;
        padding-right: 5%;
    }
}