html{
    font-size: 20px;
}
body{
    margin: 0;
    background-color: #efd8bbff;
}
.link-nav-desktop{
    text-decoration: none;
}
.link-nav-desktop:link{
    color: #1a7f1cff;
}
a:visited{
    color: #1a7f1cff;
}
.link-nav-desktop:hover{
    color:#633194ff;
}
.cont-pratos-feitos, .cont-pratos, .cont-pratos-promocao{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cont-pratos-feitos input, .cont-pratos input, .cont-pratos-promocao input{
    cursor: pointer;
}
.fundo-prato-feito{
    background-image: linear-gradient(120deg,#e8c291ff,#e8ae91ff);
    padding-top: 50px;
    padding-bottom: 100px;
}
#monte,#promocao{
    margin-top: 70px;
}
.cont-pratos .item, .cont-pratos-promocao .item{
    width: 300px;
    height: 350px;
    border-radius: 30px;
}
.item-prato-feito{
    width: 300px;
    height: 350px;
    border-radius: 30px 30px 0px 0px;
    position: relative;
  
}
.cont-pratos-feitos input:hover{
    /*
    box-shadow: 0px 0px 5px #000000;
    background-color: #7d52a7ff;
    */
}
.cont-pratos input:hover{
    box-shadow: 0px 0px 5px #000000;
    background-color: #7d52a7ff;
}
.cont-pratos-promocao input:hover{
    box-shadow: 0px 0px 5px #000000;
    background-color: #7d52a7ff;
}
.cont-pratos{
    margin-bottom: 100px;
}
.item{
   
    box-shadow: 0px 0px 5px #000000;
}
.cont-item{
    margin-right: 40px;
    width: 300px;
    
}
/*
.cont-item-prato-feito{
    border: 2px solid #edd0ab;
    border-radius: 30px 30px 0px 0px;
}
*/
.quant-carr{
    background-color: #1a7f1cff;
    height: 24px;
    margin-top: 8px;
    border-radius: 50%;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.carr-img img{
    width: 40px;
    margin-top: 14px;
    margin-left: 3px;
}
.pm-1,.pm-2,.pm-3,.pm-4,.pm-5,.pm-6,.pm-7,.pm-8{
    background-size: cover;
    background-repeat: no-repeat;
}
.pm-1{
    background-image: url("../imagens/grao.jpg");
}
.pm-2{
    background-image: url("../imagens/amarelo.jpg");
}
.pm-3{
    background-image: url("../imagens/pure.jpg");
}
.pm-4{
    background-image: url("../imagens/vermelho.jpg");
}
.pm-5{
    background-image: url("../imagens/arroz branco.jpg");
}
.pm-6{
    background-image: url("../imagens/arroz integral.jpg");

}
.pm-7{
    background-image: url("../imagens/carne louca de maminha.jpg");

}
.pm-8{
    background-image: url("../imagens/frango desfiado cremoso.jpg");

}
.pf-1, .pf-2, .pf-3, .pf-4, .pf-5, .pf-6, .pf-7{
    background-size: cover;
    background-repeat: no-repeat;
}
.pf-1{
    background-image: url("../imagens/marmitas-prontas/arroz com cenoura, grão de bico e purê batata doce - vegano.jpg");
}
.pf-2{
    background-image: url("../imagens/marmitas-prontas/arroz de amendoim com creme de abóbora, couve flor e feijão - vegano.jpg");
}
.pf-3{
    background-image: url("../imagens/marmitas-prontas/baião de 2 com grão de soja e purê de batata baroa - vegano.jpg");
}
.pf-4{
    background-image: url("../imagens/marmitas-prontas/pene com molho branco, brocolis, queijo quale em cubos e purê de abóbora - vegetariano.jpg");
}
.pf-5{
    background-image: url("../imagens/marmitas-prontas/cubo de frango saltiado com caldo de laranja.jpg");
}
.pf-6{
    background-image: url("../imagens/marmitas-prontas/peito de frango com pure de abobora e baiao de dois.jpg");
}
.pf-7{
    background-image: url("../imagens/marmitas-prontas/carne louca de maminha com arroz integral de abobora e legumes de brocolis e couve-flor.jpg");
}
.tipo-prato{
    background-color: rgba(26, 127, 28, 0.7);
    width: 230px;
    color: #ffffff;
    padding: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 30px;
}
.tipo-prato-marmita{
    background-color: rgba(26, 127, 28, 0.7);
    width: 150px;
    color: #ffffff;
    padding: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
    border-top-left-radius: 30px;
}
.nome-prato-texto{
    width: 280px;
    margin-bottom: 6px;
    font-size: 0.9rem;
}
nav{
    margin-right: 30px;
}
.cont-carr{
    display: flex;
}
nav ul{
    list-style: none;
    cursor: pointer;
}
nav ul li{
    display: inline;
}
nav ul li:hover{
    color: #633194ff;
    font-weight: bold;
}
.cont-nav-e-carr{
    display: flex;
    background-color: #ffffff;
    justify-content: flex-end;
    font-family: "caviar";
    color: #1a7f1cff;
    padding-right: 60px;
    position: relative;
}

.bt-mais{
    position: absolute;
    bottom: -15px;
    left: 42%;
}
.bt-prato-feito{
    margin-left: 5px;
}
.cont-bts-aumentar-diminuir{
    display: flex;
    justify-content: flex-end;
    margin-top: 14px;
    align-items: flex-end;
}
.cont-bts{
    display: flex;
}
.cont-bts input{
    border: 0px;
    background-color: #633194ff;
    color: #fff;
    padding: 0px 8px;
}
.diminuir, .aumentar{
    font-size: 0.9rem;
}
.cont-legenda-e-bts-etc{
    padding: 5px;
    border: 2px solid #edd0ab;
    border-top: 0px;
}
.bt-mais input{
    background-color: #633194ff;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 50%;
    color: azure;
    font-size: 20px;
}
.legenda-item{
    text-align: center;
    margin-top: 18px;
    color: #000000;
    font-family: "caviar";
}
.legenda-item-prato-feito{
    display: flex;
    align-items: center;
    margin-top: 18px;
    color: #000000;
    font-family: "caviar";
}
.preco{
    color: #ff0000ff;
    font-size: 0.7rem;
    font-weight: bold;
}
.cont-preco{
    margin-left: 15px;
}
.quant-item{
    font-size: 0.8rem;
    font-weight: bold;
}
.cont-img-text{
    display: flex;
}
.cont-img-text img{
    width: 30px;
}
.cont-img-text .img-email{
    width: 25px;
}
.text-contato{
    margin-left: 5px;
    line-height: 1.4;
}
.text-contato-email{
    line-height: 0.9;
    margin-left: 5px;
}
footer{
    background-image: linear-gradient(#f69657ff,#9468c0ff);
    font-family: "caviar";
}
.traco{
    border: solid 1px #b3b3b3ff;
    height: 80px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.rede-social img{
    width: 25px;
}
.cont-contato-margem{
    margin-top: 17px;
}
.rede-social{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.cont-contato{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    padding-top: 25px;
    margin-top: 100px;
}
.rodape{
    text-align: center;
}

.bemvindo{
    font-family: "hunter";
    font-size: 3rem;
    margin-bottom: 20px;
}
.cont-msg-foto{
    background-image: url("../imagens/topo1920.png"); 
    font-size: 2rem;
    padding-top: 150px;
    padding-bottom: 80px;
    padding-left: 60px;
    padding-right: 60px;
}
.peca-o-seu{
    background-color: #1a7f1cff;
    display: flex;
    font-size: 1.2rem;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
}
.viver-a-culinaria{
    font-family: "impact";
    font-size: 3rem;
}
.imagem-whatsapp{
    margin-left: 8px;
    margin-top: 10px;
}
.peca-o-seu img{
    width: 70px;
}
.cont-peca-o-seu{
    margin-top: 40px;
    width: 400px
}
.adoro{
    font-family: "Caladea";
}
main{
    font-family: "caviar";
}
.font-h2{
    font-family: "caviar bold";
}
.cont-marm{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 30px;
}
.bt-add-carrinho{
    background-color: #9468c0ff;
    padding: 10px 17px;
    border: none;
    color: #ffffff;
    cursor: pointer;
}
.bt-add-carrinho:hover{
    box-shadow: 0 0 5px #000000;
}
.marm-1 select {
    padding: 5px;
    border:#9468c0ff 2px solid;
}.marm-1 ul{
    list-style: none;
    padding: 0px;
}
.marm-1 ul li{
    display: inline;
}
.texto-item-marm{
    color: #1a7f1cff;
}
/* box model alerta */
.cont-box-model{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
}
.box{
    width: auto;
    padding: 30px 40px;
    background-color: #bfa5d9;
    box-shadow: 0 0 9px #000000;
}
.texto-boxmodel{
    text-align: center;
}
.cont-bt-ok-boxmodel{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bt-ok-boxmodel{
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    background-color: #1a7f1cff;
    color: #ffffff;
    font-size: 0.8rem;
}
.bt-ok-boxmodel:hover{
    box-shadow: 0 0 5px #000000;

}
.entrega ul li{
    list-style: none;
}
.entrega{
    width: 300px;
    height: auto;
    background-color: #f6e8d5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.entrega h3{
    margin: 0px;
}
.cont-entrega{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}
.bt-entrega-fechar{
    align-self: flex-end;
    margin-top: 7px;
    margin-right: 7px;
    background-color:#e0ad6c;
    padding: 0px 6px;
    cursor: pointer;
}
.entrega-lista ul{
    padding: 0;
}

.entrega-lista{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bt-mobile div{
    height: 3px;
    margin-bottom: 3px;
    background-color: #9468c0ff;
    width: 100%;
}
.bt-mobile{
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    align-items: center;
    height: 100%;
    display: none;
}
.nav-mobile ul{
    padding: 0px;
    margin-top: 0px;
}
.nav-mobile ul li{
    list-style: none;
    margin-bottom: 6px;
    color: #fff;
}
.nav-mobile{
    position: fixed;
    right: -250px;
    background-color:#d79642;
    padding: 20px;
    transition: right 1s;
    height: 100vh;
    z-index: 1;
}
.nav-ul-mobile li a{
    text-decoration: none;
    color: #fff;
}
.bt-fechar-mobile-nav{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9168bb;
    width: 25px;
    margin-bottom: 20px;
    padding-bottom: 4px;
}
/* fim */
@font-face{
    font-family: "hunter";
    src: url('../fonts/hunters/Hunters.otf') format("opentype");
    
}
@font-face{
    font-family: "caviar bold";
    src: url("../fonts/caviar dreams/CaviarDreams_Bold.ttf") format('truetype');
}
@font-face{
    font-family: "caviar";
    src: url("../fonts/caviar dreams/CaviarDreams.ttf") format("truetype");
    font-weight: normal;
}
@media (min-width:320px) and (max-width:425px){
    .nav-desktop{
        display: none;
    }
    .bt-mobile{
        display: flex;
    }
    .cont-peca-o-seu{
        width: 300px;
        margin: 0;
        margin-top: 5%;
    }
    .cont-contato{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .traco{
        width: 125px;
        height: 0px;
    }
    .cont-nav-e-carr{
        padding: 0;
    }
    .cont-pratos, .cont-pratos-feitos, .cont-pratos-promocao{
        padding-left: 10%;
    }
    .cont-msg-foto{
        padding-top: 3%;
        padding-left: 3%;
        padding-bottom: 8%;
    }
    .cont-item{
        margin-bottom: 23%;
    }
   
    nav ul{
        padding: 0px;
    }
    .cont-nav-e-carr{
        padding-left: 5%;
        padding-right: 5%;
    }
    .imagem-whatsapp{
        margin-top: 10%;
    }
    .marm-1 ul li{
        display: block;
        margin-bottom: 4px;
    }
    .marm-1{
        margin-left: 10px;
    }
}
@media (min-width:768px) and (max-width:1024px){
    .cont-item{
        margin-bottom: 6%;
    }
    .marm-1 ul li{
        display: block;
        margin-bottom: 4px;
    }
    
}
@media (min-width:1440px) and (max-width:2040px){
    .cont-item{
        margin-bottom: 6%;
    }
   
}
@media (min-width:1920px){
    .cont-item{
        margin-bottom: 3%;
    }
   
}
@media (min-width:2560px){
    .cont-msg-foto{
        background-image: url("../imagens/topo2560.png"); 
        padding-left: 300px;
    }
    .cont-nav-e-carr{
        padding-right: 300px;
    }
    html{
        font-size: 25px;
    }
    .cont-peca-o-seu{
        width: 500px;
    }
   
}